<a href="/" class="flex gap-6" aria-label="tailus logo">
  <img src="/my-photo.png" alt="tailus logo" class="w-[5rem] h-[5rem] rounded-full" />
  <div class="bg-white h-[5rem] w-[1px]"></div>
  <div class="text-xl w-auto">
    <p><span class="font-bold">Muhammad Ashar Ishfaq</span></p>
    <p>AI Agents & Automation</p>
  </div>
</a>
